<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title modal-title">T&C's FOR WESTFIELD “STYLE STAKES” PROMOTION</h1>
		<div class="button button-clear modal-button" data-ink-opacity="0" ng-click="tosModal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>

<ol class="padding tos-list">
    <li>
    Information on how to enter and prizes forms part of these Terms and Conditions. Participation in this “Style Stakes” Promotion (“Promotion”) is deemed acceptance of these Terms and Conditions.
    </li>


    <strong>WHO CAN ENTER?</strong>

    <li>Subject to condition 3, this Promotion is only open to New Zealand residents aged 18 years or over.  
    <li>The following are ineligible: (i) employees of the Promoter, the Westfield Group or any of the tenants or retailers in a Participating Centre (as defined in Clause 5 below) or any of the Promoter’s agencies or suppliers that are associated with the Promotion; (ii) the spouse, defacto spouse, parent, child or sibling (whether natural or by adoption) of an excluded employee; and (iii) any person who the Promoter has previously notified is not permitted to enter the Promoter’s promotions.</li>

    <strong>PROMOTION PERIOD</strong>

    <li>This Promotion commences at 10.30am on Saturday 5 March 2016 and ends at 6pm Saturday 12 March 2016 (“Promotion Period”).  Entries received after this closing time will not be eligible for entry.</li>

    <strong>HOW TO ENTER </strong>

<li>The Promotion will be conducted at the following Westfield New Zealand Shopping Centres: Westfield St Lukes and Westfield Newmarket (“Participating Centres”).  </li>

<li>To receive an entry in this Promotion, eligible individuals must, during the Promotion Period, undertake 

the following steps:  
<ol>
<li>Have your photo taken against the Westfield flower wall at Auckland Derby Day on Saturday 5 March 2016 OR at Auckland Cup Day on Saturday 12 March 2016</li>

<li>Upload the photo to social media (Facebook or Instagram) with the hashtag #westfieldstylestakes</li>

<li>Fully complete and submit the online entry form at the flower wall which includes your full name a contact number and a valid email address.  </li>

<li>Indicate on the entry form if you would like to be added to the Westfield VIP database.</li>
</ol>
</li>

<strong>DRAW DETAILS</strong>

<li>Prize Draw:  The Prize Draw will take place at the offices of the Promoter, Level 2, Westfield St Lukes, 80 St Lukes Road, Auckland on Friday 18 March 2016 before 6pm. One winner from Derby Day and one winner from Auckland Cup Day will be chosen by Westfield Fashion Ambassador Amber Peebles. 
</li>

<strong>WINNER NOTIFICATION</strong>

<li>Each of the provisional winner will be notified by phone or email no later than 6pm on Tuesday 22 March 2016.  Each provisional winner will only be deemed a winner once verified by the Promoter.  Prize winners must claim their prize by no later than 12.00pm midday Friday 8 April 2016 unless arrangements are made through the Promoter.  
</li>

<strong>PRIZES</strong>

<li>Prizes: There are two prizes to be won, one for Derby Day and one for Auckland Cup Day. Each prize includes $1,000 in Westfield Gift Cards and one Personal Styling Session (to the value of $290).</li>

<li>Claiming:  All winners must verify their entry, and confirm that they meet the Terms and Conditions of this Promotion with the Promoter, Level 2, Westfield St Lukes, 80 St Lukes Road, Auckland prior to claiming their prize.  Arrangements will then be made for collection of prizes through Westfield St Lukes. 
</li>

<strong>UNCLAIMED PRIZE</strong>

<li>If any prize remains unclaimed after 6pm Friday 8 April 2016 that prize will remain the property of the promoter and the winner will forfeit their prize in its entirety. </li>

<strong>GENERAL</strong>

<li>Incomplete, indecipherable or illegible entries will be deemed invalid. </li>

<li>The Promoter takes no responsibility for lost or late entries.  </li>

<li>The Promoter’s decision is final on all matters related to this Promotion and no correspondence will be entered into.</li>

<li>The Promoter reserves the right to refuse to award any prize to any entrant who the Promoter (in its sole discretion) believes has violated the terms and conditions or gained an unfair advantage in participating in the Promotion or won using fraudulent means.</li>

<li>Prizes, or any unused portion of a prize, are not transferable or exchangeable and cannot be taken as cash.</li>

<li>The Promoter will not be liable for any prizes that are lost, stolen or damaged and will not replace them.</li>

<li>The Promoter reserves the right, at any time, to verify the validity of entries (including contacting participating retailers) and entrants (including an entrant’s identity, age and place of residence) and to disqualify any entrant who submits an entry that is not in accordance with these Terms and Conditions or who tampers with the entry process.  Failure by the Promoter to enforce any of its rights at any stage does not constitute a waiver of those rights. </li>

<li>If for any reason this Promotion is not capable of running as planned by reason of (including, but not limited to) infection by computer virus, bugs, tampering, unauthorised intervention, fraud, technical failures or any other causes beyond the control of the Promoter which corrupts or affects the administration, security, fairness, integrity or proper conduct of the Promotion or for any other reason then the Promoter may elect to cancel, terminate, modify or suspend the Promotion.  The Promoter reserves the right in its sole discretion to disqualify any entrant who tampers with the entry process.</li>

<li>The winners take the prizes at entirely their own risk and indemnify the Promoter and any Suppliers associated with this Promotion in respect of any claim for accident, injury, property damage or loss of life that may incur in connection with the prizes.</li>

<li>The Promoter and any Suppliers associated with this Promotion will not be liable for any damage or loss (including but not limited to indirect or consequential loss) arising from personal injury or death or loss, or damage to property which is suffered or sustained in connection with any prize, except to the extent that liability cannot be excluded by law. Nothing is intended to restrict, exclude or modify customers’ rights at law against the Promoter or retailers.</li>

<li>These terms and conditions shall be governed by and construed in accordance with the laws of New Zealand and shall be subject to the exclusive jurisdiction of New Zealand Courts.</li>

<strong>PRIVACY</strong>

<li>The Promoter's Privacy Policy (available on the Promoter's website, www.westfield.co.nz, and updated from time to time by publishing an updated version on that website) and these terms and conditions govern the collection, use and disclosure of your personal information by us.  You agree that the Promoter may collect, use and disclose your personal information in accordance with the Promoter's Privacy Policy. </li>

<li>If an entrant is already a member of the Westfield VIP database, they will continue to receive communications as normal.</li>

<li>Entrants may ‘unsubscribe’ from communications at any time following the Promotion – please refer to our Privacy Policy at westfield.co.nz for information.</li>

<li>Entrants consent to the Promoter using the entrant’s name, likeness, image and/or voice in the event that they are a winner (including photograph, film and/or recording of the same) in any media for an unlimited period without remuneration for the purpose of promoting this Promotion (including any outcome).</li>

<strong>PROMOTER DETAILS</strong>

<li>Westfield St Lukes is the Promotor of this Promotion and is located on Level 2, 80 St Lukes Road, St Lukes, Auckland, a Shopping Centre owned and operated by Scentre (New Zealand) Limited and its registered office is located at Level 2, Office Tower, 277 Broadway, Newmarket, Auckland.</li>

</ol>
	</ion-content>
</ion-modal-view>