.bookmarks-container{
    height:100%;
        background-color: #c1d0e7;
}

.bookmarks-container .empty-results{
    text-align:center;
    font-size:200px;
}

.bookmarks-container .empty-results h3{
    font-size:50px;
    text-transform:uppercase;
}