.bookmarks-container{
    height:100%;
        background-color: #E3EBF2;
}

.bookmarks-container .empty-results{
    text-align:center;
    font-size:200px;
}

.bookmarks-container .empty-results h3{
    font-size:50px;
    text-transform:uppercase;
}

.entry-background{
    background:url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.entry-form{
    background-color: white;
}

.validation-errors{
        background-color: rgb(255, 255, 255);
    color: red;

    margin-top: -20px;
}

.blue-font{
    color:#387ef5;
}

ol.tos-list.padding{
    padding: 30px;
    list-style:decimal;
}

.tos-list li{
    margin-bottom: 20px;
}

.tos-list strong{
    margin-top: 20px;
}

form.padding{
    padding-bottom:50px;
}